.git
.github
.idea
.vscode
.editorconfig
.prettierrc
pint.json
phpunit.xml
tests
node_modules
vendor
npm-debug.log
yarn-error.log
.env
.env.backup
.env.production
.dockerignore
docker-compose.yml
Dockerfile
README.md
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*
