@use '../base/variables' as *;

.fluent-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 8px 15px;
    border: none !important;
    border-radius: 4px !important;
    box-shadow: $shadow-depth-4;
    background-color: #fff;

    .card-header {
        padding-bottom: 0px !important;
    }

    .card-body {
        flex: 1;
        display: flex;
        flex-direction: column;
        min-height: 0;
    }
}
